.card-sites-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 0px;
}

.card-site-wrapper {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card-count-wrapper {
    padding-right: 20px;
}

.card-count {
    font-family: "Pretendard-Bold";
    font-size: 20px;
}